body{
    color:#8f8f8f;
    background: #f8f8f8 url("images/bg.jpg");
    margin:0;
    font-family: Beryozki;

}
header{
    padding: 20px 0;
}
p.headersign{
    font-family: Beryozki;
    font-size:85px;
    text-align: center;
    color:white;
    margin-top:-18px;
    background: url("images/headback.png");
    height: 85px;
    vertical-align: middle;

}
img.egor{
    margin-left: 160px;
    cursor: pointer;

}
img.Dima{
    margin-left:160px;
    cursor: pointer;
}
img.Stas{
    margin-left: 160px;
    cursor:pointer;
}
span.words1{
    font-size: 100px;
    color:white;
    vertical-align: middle;
}
form.form1{
    margin-left: 40px;

    padding-top:60px;

    text-align: center;
}
input[type="submit"]{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url("images/logo-submit.png");
    border: 0;
    vertical-align: middle;

}

input[type="text"]{

}
image{
    display: inline-block;
}

input.button {
    background: url("images/logo-submit.png")
    }
input.button:hover {
    background: url("images/logo-submit2.png")
    }

